<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://i.stack.imgur.com/luaq2.png"
    alt=""
    height="200px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Nulla neque magna, convallis quis rhoncus quis, iaculis vitae nulla. In eu vehicula enim. Quisque sed lacinia metus, non consectetur tellus. In non faucibus ante, a euismod erat. Duis molestie felis nec fermentum dignissim. Morbi tempor enim sed velit hendrerit, in elementum arcu vestibulum. Praesent non erat non tellus vulputate ultrices.
      </a>
    </p>
  </div>
</div>
